{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <div class="auth_form form-control form-check">
        <h1 class="login_title">{{ title }}</h1>
        <form action="{% url 'auth_app:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control__button">
                <div class="content">
                    <div class="row">
                        <div class="col-4">
                            <p class="register-p">
                                <a href="#">Забыл пароль?</a>
                            </p>
                        </div>
                        <div class="col-8">
                            <button class="form-control__button" type="submit">
                                Войти
                            </button>
                        </div>
                    </div>
                </div>
                <p class="register-p">
                    <a href="{% url 'auth:register' %}">Зарегистрироваться</a>
                </p>
                <p class="register-p">
                    <a href="{% url 'social:begin' backend='google-oauth2' %}">
                        <img src="https://pngicon.ru/file/uploads/1303506055_social_google_box-64x64.png"
                             alt="Google">
                    </a>

                    <a href="{% url 'social:begin' backend='vk-oauth2' %}?next=/">
                        <img src="https://pngicon.ru/file/uploads/vkontakte-64x64.png"
                             alt="вконтакте">
                    </a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
