{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    {% for product in products %}
        <h1>
            <p>{{ product.name }}</p>
{#            <p>{{ product.product_option.0.name }}</p>#}
            --------------------
{#            <p>{{ product.product_image.get_queryset.0.image }}</p>#}
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
            adipisci, cum, ea earum explicabo inventore ipsam iste magnam
            minima, molestiae nam natus quas quidem quisquam reprehenderit
            similique sunt ullam vitae voluptas voluptate. Assumenda
            blanditiis enim nisi obcaecati quaerat similique sint tenetur,
            veniam veritatis voluptatum. Amet atque consectetur debitis
            doloribus dolorum eligendi in perspiciatis quo tempore unde,
            veniam voluptate! Eveniet magnam maxime nam vitae? Accusamus
            eos non quisquam, quo quos tempore veniam? Ad atque distinctio
            eaque ex explicabo illo minus nobis quo sit totam. Animi
            aperiam architecto asperiores at aut, debitis enim esse
            molestias officiis praesentium qui quos sed voluptatem
            voluptates!
        </p>
    {% endfor %}
{% endblock %}
