* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}