{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% include 'personal_app/includes/inc_personal_menu.html' %}

        <div class="personal-menu-content col-9">
            <br>
            <h1 class="personal_title">
                <p>{{ user }}</p>
            </h1>
            <p>
                Здесь вы сможете:</p>
            <ul>
                <li>изменить ваш профиль</li>
                <li>написать друзьям</li>
                <li>посмотреть ваши избранные товары</li>
                <li>перейти в корзину</li>
            </ul>

            <br>
            <h6>
                Ваш логин для входа:
                <h5>{{ user.username }}</h5>
            </h6>
            <a href="{% url 'personal:profile' user.pk %}">изменить</a>

        </div>
    </div>

{% endblock %}
